.about {
  background-color: rgb(31, 31, 31);
  width: 100%;
  padding-top: 10rem;
  color: #ffffff90;
}

.about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.koleader__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4em;
}

.koleader__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-left: 100px;
}
.koleader__title {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 70px;
}

.koleader__description,
.koleader__description2 {
  font-size: 1em;
  font-weight: 300;
}

.koleader__social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 2em;
  align-self: flex-end;
  color: rgb(105, 183, 185);
}

.koleader__social li {
  margin-right: 10px;
  margin-left: 10px;
}

.koleader__imge {
  width: 20rem;
  margin: 60px 20px 0 20px;
}

/* ///////////////////////////// */
.gaya__section {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 10em;
  margin-bottom: 10em;
}

.gaya__data {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-left: 100px;
}
.gaya__title {
  font-size: 3em;
  font-weight: 300;
  margin-bottom: 70px;
}

.gaya__description,
.gaya__description2 {
  font-size: 1em;
  font-weight: 300;
}

.gaya__social {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin-top: 2em;
  align-self: flex-end;
  color: rgb(105, 183, 185);
}

.gaya__social li {
  margin-right: 10px;
  margin-left: 10px;
}

.gaya__imge {
  width: 20rem;
  margin: 60px 0px 0 90px;
}

/* //////////////////// */

.partner__section {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border: turquoise solid 5px;
  position: relative;
  height: 40vh;
  margin-bottom: 4em;
}

.partner__title {
  color: white;
  font-size: 4em;
  font-weight: 300;
  position: absolute;
  background-color: rgb(31, 31, 31);
  padding: 10px 10px;
  top: -20%;
}

.partner__name {
  position: absolute;
  top: 40%;
  color: #fff;
}

.partner__name span {
  margin-right: 20px;
  margin-left: 20px;
  font-size: 3em;
  font-weight: 300;
}
